@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
  /* background-color: rgba(179, 176, 176, 0.24); */
  
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  padding-top: 100px;
}

.map-container {
  margin-left: 100px;
  margin-top: 50px;
  position: sticky;
  z-index: 1000;
}

.sighting-container {
  margin-left: 280px;
  margin-right: 100px;
  overflow: scroll;
  height: 1000px;
  z-index: 1000;
}

.cards {
  grid-template-columns: 1fr 1fr;
}

.navbar {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.nav-link {
  font-size: 30px;
  /* justify-content: center; */
}


/* Card Styling */
.row {
  justify-content: space-around;
  margin-top: 0px;
}

.card {
  margin-top: 50px;
}

.card-img-overlay {
  position: inherit;
  padding: 0;
}

.list-group-item {
  background-color: rgba(237, 229, 173, 0.692);
  color: white;
  font-weight: bold;
}

.card-body {
  background-color: rgba(237, 229, 173, 0.692);
}

.profileJumbo {
  display: flex;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(241, 241, 243, 0.048);
  color: rgba(87, 82, 82, 0.849);
  border-color: black;
  text-align: center;
  justify-content: space-between;
}

.updateJumbo {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(219, 220, 224, 0.041);
  color: black;
  border-color: black;
}


