body {
  background-color: rgb(211, 177, 177);
}

.app {
  display: flex;
  text-align: center;
}

.sighting-form {
  align-content: flex-start; 
}

.Navbar {
  background-color: aquamarine;
}



/* main {
  display: grid;
  min-height: 100%;
  justify-items: center;
  grid-template-columns: 75px 1fr 1fr;
  grid-template-rows: auto;
} */

/* .animal-sightings {
  grid-column-start: 3;
}; */




.MapContainer {
  margin-top: 100px;
  margin-left: 100px;
}

.nav-link {
  /* display: flex; */
  /* justify-content: center; */
  font-size: 30px;
}


